*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f6efe8;
    font-family:  sans-serif
}
.navbar
{
    padding:0;
}
#ac{
    padding:20px;
}
nav ul li{
    margin-left: 10px;
    padding:8px;
}
.navbar ul li, .navbar-nav{
   font-weight: bold;
}

body{
    background: #f6efe8;
}
.card-group .card
{
    border: none;
}
